<style>
  thead td{
    background-color: #003666;
    height:3px;
    border:  none!important;
  }
  th{
    background-color: #f8f9fa;
    border:  solid;
  }
  td{
    border-style: solid;
  }
</style>

<table>
  <thead>
  <td></td>
  <td></td>
  <td></td>
  <td style="width: 300px;"></td>
  <td style="width: 300px;"></td>
  <td></td>
  </thead>
  <thead>
  <tr>
    <th>التاريخ</th>
    <th>من</th>
    <th>الى</th>
    <th>المبلغ</th>
    <th>النوع</th>
  </tr>
  </thead>
  <tbody>
  {{for data}}
  <tr>
    <td>{{:~toTime(createdAt)}}</td>
    {{if customer}}
    <td>{{:customer.representativeName}}</td>
    <td>{{:supplier.representativeName}}</td>
    {{else}}
    <td>{{:supplier.representativeName}}</td>
    <td>ٍSuppliesOn</td>
    {{/if}}
    <td>{{:~toNumber(amount)}}</td>
    {{if type === 'debit'}}
    <td>مدين</td>
    {{else}}
    <td>دائن</td>
    {{/if}}

  </tr>
  {{/for}}
  </tbody>
</table>

