<style>
  thead td{
    background-color: #003666;
    height:3px;
    border:  none!important;
  }
  th{
    background-color: #f8f9fa;
    border:  solid;
  }
  td{
    border-style: solid;
  }
</style>

<table>
  <thead>
  <td></td>
  <td></td>
  <td></td>
  <td style="width: 300px;"></td>
  <td style="width: 300px;"></td>
  <td></td>
  </thead>
  <thead>
  <th>Date</th>
  <th>Payment Method</th>
  <th>From</th>
  <th>To</th>
  <th>Amount</th>
  <th>Type</th>
  </thead>
  <tbody>
  {{for data}}
  <tr>
    <td>{{:~toTime(date)}}</td>
    {{if paymentMethod}}
    <td>{{:paymentMethod}}</td>
    {{else}}
    <td>--</td>
    {{/if}}
    <td>{{:from}}</td>
    <td>{{:to}}</td>
    <td>{{:~toNumber(amount)}}</td>
    {{if type === 'debit'}}
    <td>{{:type}}</td>
    {{else}}
    <td>{{:type}}</td>
    {{/if}}

  </tr>

  {{/for}}
  </tbody>
</table>

